<article id="detalle" class="content" >
     <div class="well">
        <div class="pull-left col-md-4 col-xs-12">
            <img class="center-block img-responsive" src='http://placehold.it/500x500' />
        </div>
        <div>
            <header>
                TITULO LARGO DE UNA INVESTIGACION CUALQUIERA
            </header>
            <aside>
                <p class="lead">
                    <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                    <br>
                    Super User
                </p>
                <p>
                    <small>
                        <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago&nbsp;
                        <button data-id="2" class="btn btn-xs btn-primary">Me gusta</button>
                    </small>
                </p>
            </aside>
            <section>
                <p class="text-justify">Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat.
                    Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh.
                    Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat.
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit.
                    Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa,
                    convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.
                    Donec rutrum congue leo eget malesuada.<br><br>

                    Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat.
                    Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh.
                    Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat.
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit.
                    Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa,
                    convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.
                    Donec rutrum congue leo eget malesuada.<br><br>

                    Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat.
                    Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh.
                    Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat.
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit.
                    Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa,
                    convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.
                    Donec rutrum congue leo eget malesuada.<br><br>

                    Nulla quis lorem ut libero malesuada feugiat. <br>

                    Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh.
                    Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat.
                    Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit.
                    Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa,
                    convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.
                    Donec rutrum congue leo eget malesuada.
                </p>
            </section>
        </div>
    </div>
</article>





<!--article class="row">
    <div class="col-lg-12">
        <header>
            Blog Post Template for Bootstrap
        </header>
        <aside class="list-group-item row">
            <div class="col-sm-2 col-xs-4 col-lg-1">
                <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                <div>
                    <small>sintret</small>
                </div>
            </div>
            <div class="col-sm-10 col-xs-8">
                <small>
                    <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                    <br>
                    <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                    <br>
                    <a href="#" class="btn btn-xs btn-primary">Me gusta</a>
                </small>
            </div>
        </aside>
        <br>
        <section>
            <img src="http://placehold.it/1600x300" class="img-responsive">
            <p class="lead">Welcome to Bootstrap Blog Template! This is a blog template example, built with Bootstrap. Contains "tools" that would be needed in a post.</p>
            <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor.</p>
            <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor. Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor.</p>
            <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor. Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor.</p>
            <p>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor. Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor.</p>
            <br/>
        </section>
    </div>
</article-->