<article id="detalle" class="content" >
     <div class="well">
        <div align="center" class="col-md-12 col-sm-12 col-xs-12">
            <img srcset="
                         ./img/mascotabebe-pq.jpg   768w,
                         ./img/mascotabebe-lg.jpg 1024w"
                 sizes="(min-width: 768px) 50vw, 100vw"
                 src="./img/mascotabebe-lg.jpg"
                 class="img-responsive"
                 alt="Mascotas y niños" >
        </div>
        <div>
            <header class="text-center">
                Mascotas que podemos regalar a un niño pequeño
            </header>
            <aside>
                <p>
                    <img class="img-thumbnail autorDetalle" src="./img/avatar/autor3.jpg" alt="Julio">
                </p>
                <p>
                    <small>
                        <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago&nbsp;
                        <button data-id="2" class="btn btn-xs btn-primary">Me gusta</button>
                    </small>
                </p>
            </aside>
            <br>
            <section>
                <p>El verano, al igual que las Navidades o la Semana Santa, es un momento propicio del año para regalar una mascota a los más pequeños de la casa. Una mascota no es un juguete. Es un ser vivo que aporta diversión a los hijos pequeños y debe ir acompañado de la necesaria responsabilidad en su cuidado.</p>
                <br>
                <p>Las ventajas que aporta una mascota a una familia con niños pequeños son variadas y múltiples. Pero antes de regalar una mascota debemos elegir aquella que más se adapte a nuestras costumbres y a las características propias de nuestra vida. <strong>No todas las mascotas son iguales ni requieren los mismos cuidados</strong>. <br><br> Vamos a destacar algunas de las <a href="#">&nbsp;mascotas que podemos regalar a un niño pequeño.</a></p>
                <br>
                <p><i class="glyphicon glyphicon-triangle-right"></i>&nbsp;<strong>Perros</strong>. Es uno de los regalos más comunes y que aportan mayor placer y diversión a los niños pequeños. Es el <em>&nbsp;compañero ideal de juegos por excelencia&nbsp;</em> dada su sociabilidad y les gusta la compañía humana. Pero hay que tener en cuenta que son los que más obligaciones y trabajo tienen. Requieren varios paseos diarios, no puedes dejarlos solos en casa en las vacaciones y, afortunadamente, viven muchos años. Y <strong>&nbsp;es necesario educarlos</strong>. Mejor un perro grande que una raza pequeña dada su fragilidad.</p>
                <br>
                <p><i class="glyphicon glyphicon-triangle-right"></i>&nbsp;<strong>Gatos</strong>. Un gato requiere menos cuidados que un perro. <strong>No hay que darles paseos y son más independientes que un perro</strong>. Un gato puede ser cariñoso y apreciar la compañía de los seres humanos pero son muy celosos de su espacio. Para un niño pequeño puede que no sea la mejor mascota para jugar.</p>
                <br>
                <p><i class="glyphicon glyphicon-triangle-right"></i>&nbsp;<strong>Hamsters y Conejos</strong>. Son otras mascotas caseras muy extendidas y fáciles de cuidar, no tenemos que pasearlos. Su cuidado es sencillo pero hay que tener cuidado de no comprarlos en pareja porque las peleas serían continuas.</p>
                <br>
                <p><i class="glyphicon glyphicon-triangle-right"></i>&nbsp;<strong>Tortugas</strong>. Es otra mascota doméstica muy común. A pesar de que los niños no pueden compartir juegos con ellas, ejercen una fascinación que les hace contemplarlas durante horas. Su alimentación es sencilla y no requieren de grandes cuidados.</p>
                <br>
            </section>
        </div>
    </div>
</article>