<article>
    <header>
        <h1>¿Cuál es el mejor pienso para perros?</h1>
    </header>
    <aside class="text-muted">
        <span class="glyphicon glyphicon-user "></span>&nbsp;Javier Lindo
        <span class="glyphicon glyphicon-calendar"></span>&nbsp;30 Mayo 2017
        <span class="glyphicon glyphicon-comment" ></span>&nbsp;2 Comentarios
        <button type="button" class="btn btn-link">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            &nbsp;Me gusta
        </button>
    </aside>
</article>