<section class="news">
    <div class="section-header">
        Noticias  Destacadas
    </div>
    <div class="row">
        <article class="content">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <header>
                    <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                &nbsp;3 me gusta
                            </button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <header>
                    <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                &nbsp;3 me gusta
                            </button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <header>
                    <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                &nbsp;3 me gusta
                            </button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <header>
                    <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                &nbsp;3 me gusta
                            </button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <header>
                    <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                &nbsp;3 me gusta
                            </button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <header>
                    <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                &nbsp;3 me gusta
                            </button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <header>
                    <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                &nbsp;3 me gusta
                            </button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <header>
                    <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                &nbsp;3 me gusta
                            </button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <header>
                    <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                &nbsp;3 me gusta
                            </button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <header>
                    <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button type="button" class="btn btn-link">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                &nbsp;3 me gusta
                            </button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row" >
        <div class="col-sm-12">
            <nav class="text-center">
                <ul class="pagination">
                    <li class="pag_prev">
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="pag_next">
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>