<section class="news">
    <div class="section-header">
        Noticias  Destacadas
    </div>
    <div class="row">
        <article class="content">
            <div class="col-sm-6">
                <a href="detail.html">
                    <img srcset="
                         /img/mascotabebe-pq.jpg   768w,
                         /img/mascotabebe-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/mascotabebe-lg.jpg"
                         class="img-responsive"
                         alt="Mascotas y niños" >
                </a>
            </div>
            <div class="col-sm-6">
                <header>
                    <a href="detail.html">
                        <h3 class="title">Mascotas que podemos regalar a un niño pequeño</h3>
                    </a>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button data-id="1" class="btn btn-xs btn-primary">Me gusta</button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    <p>El verano, al igual que las Navidades o la Semana Santa, es un momento propicio del año para regalar una mascota a los más pequeños de la casa.
                        Una mascota no es un juguete. Es un ser vivo que aporta diversión a los hijos pequeños y debe ir acompañado de la necesaria responsabilidad en su cuidado.</p>
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6">
                <a href="detail.html">
                    <img srcset="
                         /img/primeros-auxilios-pq.jpg   768w,
                         /img/primeros-auxilios-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/primeros-auxilios-lg.jpg"
                         class="img-responsive" alt="Primeros auxilios perros" >
                </a>
            </div>
            <div class="col-sm-6">
                <header>
                    <a href="detail.html">
                        <h3 class="title">Sanidad ofertará cursos de primeros auxilios a animales</h3>
                    </a>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button data-id="2" class="btn btn-xs btn-primary">Me gusta</button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                   <p>A todos se nos ha pasado por la cabeza, angustiándonos en cierta medida, qué haríamos si una de nuestras mascotas sufre una emergencia y precisa asistencia inmediata.
                       Por suerte, existen cursos de primeros auxilios como el que planea ofrecer la Concejalía de Sanidad, Consumo y Medio Ambiente en Alicante.
                   </p>
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6">
                <a href="detail.html">
                    <img srcset="
                         /img/perros-gatos-pq.jpg   768w,
                         /img/perros-gatos-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/perros-gatos-lg.jpg"
                         class="img-responsive"
                         alt="Perros y gatos">
                </a>
            </div>
            <div class="col-sm-6">
                <header>
                    <a href="detail.html">
                        <h3 class="title">Consejos para tener un perro y gato como mascotas</h3>
                    </a>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button data-id="3" class="btn btn-xs btn-primary">Me gusta</button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                   <p>No es algo extraño tener una mascota cómo un perro en casa. Tampoco lo es tener un gato cómo animal de compañía. Lo que no es habitual es tener un perro y un gato conviviendo bajo el mismo techo como mascotas de una misma persona o familia. Lo que no quiere decir que sea algo imposible.
                       A pesar del famoso dicho de que se llevan cómo el perro y el gato, la convivencia entre ambos es posible si seguimos algunos consejos para tener un perro y gato como mascotas.
                   </p>
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6">
                <a href="#">
                    <img srcset="
                         /img/camaTermica-pq.jpg   768w,
                         /img/camaTermica-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/camaTermica-lg.jpg"
                         class="img-responsive"
                         alt="Camas térmicas para gatos">
                </a>
            </div>
            <div class="col-sm-6">
                <header>
                    <a href="detail.html">
                        <h3 class="title">Camas térmicas para gatos</h3>
                    </a>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button data-id="4" class="btn btn-xs btn-primary">Me gusta</button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    <p>Ahora que estamos ya empezando a comprar regalos para Reyes, ¿por qué no pensar en algo para nuestras mascotas? ¿Y qué puede hacer más feliz a un gato que algo que le proporcione calorcito constante?
                        Los gatos son especialistas en encontrar los mejores lugares para resguardarse del frío, especialmente en esta época. Muchas veces, el sitio idóneo es nuestro regazo… y vamos a reconocerlo, nos produce mucho remordimiento tener que levantarnos y privarles de tan feliz momento
                    </p>
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6">
                <a href="detail.html">
                    <img srcset="
                         /img/perro-saltando-pq.jpg   768w,
                         /img/perro-saltando-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/perro-saltando-lg.jpg"
                         class="img-responsive"
                         alt="Parque de ocio perruno">
                </a>
            </div>
            <div class="col-sm-6">
                <header>
                    <a href="detail.html">
                        <h3 class="title">Cartagena abre su primer parque de ocio para mascotas</h3>
                    </a>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button data-id="5" class="btn btn-xs btn-primary">Me gusta</button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    <p>
                        Si hace unos días os hablamos del parque acuáticos para perros, hoy os damos a conocer otra estupenda iniciativa: la del parque de ocio para mascotas que se acaba de inaugurar en Cartagena, Murcia.
                        ¿A qué dueño no le encanta pasar un buen rato con sus perros en un parque, simplemente corriendo con él y disfrutando con su alegría?
                    </p>
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6">
                <a href="detail.html">
                    <img srcset="
                         /img/Silla-ruedas-perro-pq.jpg   768w,
                         /img/Silla-ruedas-perro-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/Silla-ruedas-perro-lg.jpg"
                         class="img-responsive"
                         alt="Sillas de ruedas caninas">
                </a>
            </div>
            <div class="col-sm-6">
                <header>
                    <a href="detail.html">
                        <h3 class="title">Sillas de ruedas para perros</h3>
                    </a>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button data-id="6" class="btn btn-xs btn-primary">Me gusta</button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    <p>
                        La pérdida de movilidad en las patas traseras no tiene por qué ser motivo para que un perro disminuya su calidad de vida hoy en día. Tenemos la posibilidad de solventar este problema gracias a una de las muchas sillas de ruedas pensadas para ellos que encontramos en el mercado.
                        Son varios los motivos que pueden hacer que nuestras mascotas pierdan la capacidad de mover sus patas traseras: la edad es el motivo más común, pero también están ahí la displasia, un traumatismo, las secuelas de una operación o incluso problemas genéticos.
                    </p>
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6">
                <a href="detail.html">
                    <img srcset="
                         /img/gato-balines-pq.jpg   768w,
                         /img/gato-balines-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/gato-balines-lg.jpg"
                         class="img-responsive"
                         alt="Gato oriental">
                </a>
            </div>
            <div class="col-sm-6">
                <header>
                    <a href="detail.html">
                        <h3 class="title">Razas de gatos, el gato balinés</h3>
                    </a>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button data-id="7" class="btn btn-xs btn-primary">Me gusta</button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                   <p>
                       ¿Queremos un felino diferente, que se salga de lo más habitual? Una raza muy original y no demasiado extendida todavía es el llamado gato balinés, directamente llegado, como su nombre indica, de la exótica isla de Bali.
                       La belleza del gato balinés estriba en que combina dos de las razas felinas con un aspecto más particular, que todos conocemos muy bien: el pelaje del gato angora (esa especie de pequeño león en miniatura) y el color del gato siamés, aunque no tan oscuro como éste puede ser a veces, sino más bien de un gris claro y suave.
                   </p>
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6">
                <a href="detail.html">
                    <img srcset="
                         /img/hotel-mascotas-pq.jpg   768w,
                         /img/hotel-mascotas-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/hotel-mascotas-lg.jpg"
                         class="img-responsive"
                         alt="Hoteles para mascotas">
                </a>
            </div>
            <div class="col-sm-6">
                <header>
                    <a href="detail.html">
                        <h3 class="title">Los mejores hoteles para mascotas</h3>
                    </a>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button data-id="8" class="btn btn-xs btn-primary">Me gusta</button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    <p>
                        No hay nada como disfrutar del verano con nuestro perro o gato. Si nos gusta compartir las vacaciones con nuestra familia y amigos, ¿por qué no con nuestras mascotas? Pero a veces no es tan fácil encontrar un alojamiento adecuado. Os damos hoy algunas pistas para seleccionar los mejores hoteles para mascotas.
                        Por suerte, hoy en día tenemos una gran ventaja con respecto a hace diez o quince años: ha crecido mucho la demanda de personas que quieren viajar con mascotas de toda clase.
                    </p>
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6">
                <a href="detail.html">
                    <img srcset="
                         /img/verdurasPerros-pq.jpg   768w,
                         /img/verdurasPerros-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/verdurasPerros-lg.jpg"
                         class="img-responsive"
                         alt="Verduras para perros" >
                </a>
            </div>
            <div class="col-sm-6">
                <header>
                    <a href="detail.html">
                        <h3 class="title">Las mejores verduras y frutas para perros</h3>
                    </a>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button data-id="9" class="btn btn-xs btn-primary">Me gusta</button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                  <p>
                      Como orgullosos descendientes del lobo que son, los perros aman la carne sobre todas las cosas. En nuestra mano está proveerles de una alimentación equilibrada proporcionándoles otra clase de complementos. Hablamos hoy de las mejores verduras y frutas para perros.
                      ¡Puede que nos llevemos alguna que otra sorpresa y nuestra mascota sea todo un gourmet!
                  </p>
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row">
        <article class="content">
            <div class="col-sm-6">
                <a href="detail.html">
                    <img srcset="
                         /img/garrapataPerro-pq.jpg   768w,
                         /img/garrapataPerro-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/garrapataPerro-lg.jpg"
                         class="img-responsive"
                         alt="Garrapatas y perros" >
                </a>
            </div>
            <div class="col-sm-6">
                <header>
                    <a href="detail.html">
                        <h3 class="title">Cómo quitar las garrapatas a nuestro perro</h3>
                    </a>
                </header>
                <aside class="list-group-item row">
                    <div class="col-sm-3 col-xs-3">
                        <img class="circle img-thumbnail img-box" src="http://sintret.com/img/andy.jpg" alt="sintret">
                        <div>
                            <small>sintret</small>
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9">
                        <small>
                            <i class="glyphicon glyphicon-time"></i>&nbsp;3 days ago
                            <br>
                            <button data-id="10" class="btn btn-xs btn-primary">Me gusta</button>
                            <br>
                            <i class="glyphicon glyphicon-comment"></i>&nbsp;3 comentarios
                        </small>
                    </div>
                </aside>
                <section>
                    <p>
                        Las garrapatas son uno de los parásitos más temidos  y odiados por los dueños de mascotas; ningún perro se libra en algún momento de ser atacado por una. Hay muchos mitos urbanos aceca de la mejor manera de quitar las garrapatas a nuestro perro, ¿pero sabéis cómo hacerlo realmente?
                    </p>
                </section>
            </div>
        </article>
    </div>
    <hr class="hrStyle">
    <div class="row" >
        <div class="col-sm-12">
            <nav class="text-center">
                <ul class="pagination">
                    <li class="pag_prev">
                        <a href="#">
                            <span >&laquo;</span>
                        </a>
                    </li>
                    <li class="pag_next">
                        <a href="#">
                            <span>&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>