<!--Cabecera-->
<header>
    <div class="row header_bg">
        <div class="col-xs-7  pageTitle">
            <h1>La Voz Animal</h1>
        </div>
        <div class="col-xs-4 text-right col-md-offset-1">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar...">
                    <span class="input-group-btn">
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search">
									<span class="sr-only">Search...</span>
								</span>
							</button>
						</span>
                </div>
            </form>
        </div>
    </div>
</header>
<!-- Menú horizontal responsive-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">La Voz Animal</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="detail.html">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Regístrate</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Entra</a></li>
            </ul>
        </div>
    </div>
</nav>