<section class="news">
    <div class="section-header">
        Otras Noticias
    </div>
    <div class="row">
        <article class="col-md-6 col-xs-12">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <h3 class="titleOtherNews">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014 @ 1:30 PM</p>
            </div>
        </article>
        <article class="col-md-6 col-xs-12">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <h3 class="titleOtherNews">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014 @ 1:30 PM</p>
            </div>
        </article>
    </div>
    <div class="row">
        <article class="col-md-6 col-xs-12">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <h3 class="titleOtherNews">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014 @ 1:30 PM</p>
            </div>
        </article>
        <article class="col-md-6 col-xs-12">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <h3 class="titleOtherNews">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014 @ 1:30 PM</p>
            </div>
        </article>
    </div>
    <div class="row">
        <article class="col-md-6 col-xs-12">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <h3 class="titleOtherNews">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014 @ 1:30 PM</p>
            </div>
        </article>
        <article class="col-md-6 col-xs-12">
            <div class="col-sm-6"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-6">
                <h3 class="titleOtherNews">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014 @ 1:30 PM</p>
            </div>
        </article>
    </div>
</section>
