<section class="news">
    <div class="section-header">
        Otras Noticias
    </div>
    <div class="row">
        <article class="col-md-6 col-xs-12">
            <div class="col-sm-6">
                <a href="detail.html" >
                    <img srcset="
                         /img/canario-pq.jpg   768w,
                         /img/canario-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/canario-lg.jpg"
                         class="img-responsive"
                         alt="Canarios - Alimentación" >
                </a>
            </div>
            <div class="col-sm-6">
                <a href="detail.html" >
                    <h3 class="titleOtherNews">Consejos para alimentar a nuestro canario</h3>
                </a>
            </div>
        </article>
        <article class="col-md-6 col-xs-12">
            <div class="col-sm-6">
                <a href="detail.html" >
                    <img srcset="
                         /img/tortuga-pq.jpg   768w,
                         /img/tortuga-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/tortuga-lg.jpg"
                         class="img-responsive"
                         alt="El mundo de las tortugas" >
                </a>
            </div>
            <div class="col-sm-6">
                <a href="detail.html" >
                    <h3 class="titleOtherNews">El misterioso mundo de las tortugas</h3>
                </a>
            </div>
        </article>
    </div>
    <div class="row">
        <article class="col-md-6 col-xs-12">
            <div class="col-sm-6">
                <a href="detail.html" >
                    <img srcset="
                         /img/pitbull-pq.jpg   768w,
                         /img/pitbull-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/pitbull-lg.jpg"
                         class="img-responsive"
                         alt="Razas peligrosas" >
                </a>
            </div>
            <div class="col-sm-6">
                <a href="detail.html" >
                    <h3 class="titleOtherNews">¿Existen las razas peligrosas?</h3>
                </a>
            </div>
        </article>
        <article class="col-md-6 col-xs-12">
            <div class="col-sm-6">
                <a href="detail.html" class="">
                    <img srcset="
                         /img/gato-jabon-pq.jpg   768w,
                         /img/gato-jabon-lg.jpg 1024w"
                         sizes="(min-width: 768px) 50vw, 100vw"
                         src="/img/gato-jabon-lg.jpg"
                         class="img-responsive"
                         alt="Los gatos y el baño" >
                </a>
            </div>
            <div class="col-sm-6">
                <a href="detail.html" >
                    <h3 class="titleOtherNews">¿Es recomendable bañar a los gatos?</h3>
                </a>
            </div>
        </article>
    </div>
</section>
