/*CSS Style for index.html*/

//Cabecera

//Fuente cabecera

@font-face {
  font-family: jungle;
  src: url("/fonts/jungle.ttf");
}


@font-face {
  font-family: pizarra;
  src: url("/fonts/pizarra.ttf");
}


.pageTitle{
  max-width: 100%;
  padding-top: 10px;

  @media (max-width: $screen-sm-min) {
    visibility: hidden;
    height:50px;
  }
}

header .row{
  margin: 0;
}


.header_bg{
  max-width: 100%;
  height: 100px;
  border: 1px solid $very-dark-color;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: $bg-green-dark;

  h1{
    font-family: jungle;
    font-size: 42px;
    color: $text-light-color;
    font-weight: bolder;
  }

  @media (max-width: $screen-sm-min) {
    height: 60px;
  }
}

.navbar-form {
  margin-right: -20px;
  @media (max-width: $screen-sm-min) {
    margin-right: -70px;
  }

  @media (max-width: $screen-xs-min) {
    margin-right: -50px;
    margin-left: -60px;
  }
}

//Barra navegación

nav {
  a {
    color: $text-light-color;
  }

  .container-fluid{
    background-color: $bg-green-dark;
  }

  .navbar-brand {
    display: none;
    @media (max-width: $screen-sm-min) {
      display: block;
    }
  }
}


.navbar-inverse  {
  .navbar-brand{
    color: $text-light-color;
    font-weight: 600;
    font-family: jungle;
    font-size: 32px;
    @media (max-width: $screen-sm-min) {
      font-size: 16px;
    }
  }

  .navbar-nav > li > a {
    color: $text-light-color;
  }

}

.active{
  font-weight: 600;
}

.inactive{
  font-weight: 600;

  &:hover{
    background-color: $very-dark-color;
  }
}

//main

//pizarra anuncios

.$very-dark-colorboard{
  display:block;
  overflow:auto;
  font-family: pizarra;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: $red-chalk;
  background-image: url("/img/chalkboard-green.jpg");


  .blue{
    color: $blue-chalk;
    font-size: 22px;
  }

  .green{
    color: $body-bg;
    font-size: 22px;
  }

}

//Estilos listado noticias

small {
  font-size: 14px;
}

.list-group-item {
  background-color: transparent;
  overflow: hidden;
  border: 0;
  padding: 0 5px;
  margin-bottom: 10px;
  margin-right: 0;
}


.section-header{
  background-color: $gray-base;
  color: $text-light-color;
  font-family: jungle;
  font-size: 16px;
  padding: 5px 10px;
  margin: -1;

}

.news {
  border: 1px solid $bg-green-dark;
  margin: 20px 0 0 0;
}

.title {
  color: $bg-green-dark;
  font-weight: 500;
  padding: 5px;
  @media (max-width: $screen-xs-min) {
    font-size: 16px;
    font-weight: bold;
  }
}

.titleOtherNews{
  color: $bg-green-dark;
  font-size: 14px;
  font-weight: 200;
  padding: 5px;
  @media (max-width: $screen-xs-min) {
    font-size: 12px;
    font-weight: bold;
  }
}

.text-muted {
  font-size: 14px;
  font-weight: 200;
  padding-top:5px;
}

article.col-md-6.col-xs-12 {
    margin-bottom: 20px;
    padding-left:0;
    padding-right:0;
}

.hrStyle {
  border-top: 3px double $bg-green-dark;
  margin-bottom: 0;
  margin-top: 0;
}

//Estilos del pie

.footer_bg{
  max-width: 100%;
  height: 100px;
  border: 1px solid $very-dark-color;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: $bg-green-dark;

  h1{
    font-family: jungle;
    font-size: 32px;
    color: $text-light-color;
    font-weight: bolder;
    @media (max-width: $screen-xs-min) {
      font-size: 16px;
      padding-top:10px;
    }
  }
}

.back-to-top{
  padding-top: 15px;

  .glyphicon {
    font-size: 40px;
    color: $text-light-color;
  }
}

