/*CSS Style for index.html*/

//Cabecera

//Fuente cabecera

@font-face {
  font-family: jungle;
  src: url("/fonts/jungle.ttf");
}

@font-face {
  font-family: pizarra;
  src: url("/fonts/pizarra.ttf");
}

.pageTitle{

  max-width: 100%;
  padding-top: 10px;

  @media (max-width: $screen-sm-min) {
    visibility: hidden;
    height:50px;
  }
}

header .row{
  margin: 0;
}

.header_bg{

  max-width: 100%;
  height: 100px;
  border: 1px solid black;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background-color: #228b22;

  h1{
    font-family: jungle;
    font-size: 42px;
    color: white;
    font-weight: bolder;
  }



  @media (max-width: $screen-sm-min) {
    height: 60px;
  }
}

.navbar-form {

  margin-right: -30px;
  @media (max-width: $screen-sm-min) {
    margin-right: -70px;
  }

  @media (max-width: $screen-xs-min) {
    margin-right: -50px;
    margin-left: -60px;
  }

}

//Barra navegación

nav {

  a {
    color: white;
  }

  .container-fluid{
    background-color: #228b22;
  }

  .navbar-brand {
    display: none;
    @media (max-width: $screen-sm-min) {
      display: block;
    }
  }

}


.navbar-inverse  {
  .navbar-brand{
    color: white;
    font-weight: 600;
    font-family: jungle;
    font-size: 18px;
  }

  .navbar-nav > li > a {
    color: white;
  }

}

//main

//pizarra anuncios

.blackboard{
  display:block;
  overflow:auto;
  font-family: pizarra;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: #ed7777;
  background-image: url("/img/chalkboard-green.jpg");


  .orange{
    color: #fad48b;
    font-size: 22px;
  }

  .blue{
    color: #94c0cc;
    font-size: 22px;
  }

  .green{
    color: #bcdf8a;
    font-size: 22px;
  }

  .yellow{
    color: #d6d963;
    font-size: 22px;
  }

}

//Estilos listado noticias

.section-header{
  background-color: $gray-base;
  color: white;
  font-family: jungle;
  font-size: 16px;
  padding: 5px 10px;
  margin: -1;

}

.news {
  border: 1px solid #228b22;
  margin: 20px 0 0 0;
}

.title {
  color: #228b22;
  font-weight: 500;
}

.titleOtherNews{
  color: #228b22;
  font-size: 14px;
  font-weight: 200;
}

.text-muted {
  font-size: 14px;
  font-weight: 200;
  padding-top:5px;
}

article.col-md-6.col-xs-12 {
    margin-bottom: 20px;
    padding-left:0;
  padding-right:0;
}

.hrStyle {
  border-top: 3px double #228b22;
  margin-bottom: 0;
}

//Estilos del pie

.footer_bg{
  max-width: 100%;
  height: 100px;
  border: 1px solid black;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #228b22;

  h1{
    font-family: jungle;
    font-size: 32px;
    color: white;
    font-weight: bolder;
    @media (max-width: $screen-xs-min) {
      font-size: 24px;
    }
  }
}

.back-to-top{
  padding-top: 15px;

  .glyphicon {
    font-size: 40px;
    color: white;
  }
}

