//CSS Style for detail.html
header{
  font-size: 24px;
  color: #228b22;
  font-weight: 600;
  margin-bottom: 10px;
}

article .btn {
  padding: 3px 15px 3px 15px;
  border: 1px solid;
}

aside{
  color: #1b6d85;
}

.well {
  border: 3px double $bg-green-dark;
}

section>img{
  border: 3px double $bg-green-dark;
}